<% @title = 'Administration' %>
<%= link_to '&laquo; Back to main page'.html_safe, root_path %>
<h1>Administration area</h1>

<h2>Synchronization schedule</h2>
<p>
    <% if SupportCentral::Application.config.cache_classes %>
        Support Central synchronizes with the support sources once every hour at the <%= Scheduler::MINUTE_OFFSET %>th minute. You can also perform a synchronization now.
    <% else %>
        Since you are running Support Central in development mode, it will not automatically synchronize with the support sources. Use the buttons below to manually perform a synchronization.
    <% end %>
</p>

<div class="row">
    <div class="col-md-4">
        <h3>Github</h3>
        <%= render partial: 'scheduler', locals: { scheduler: GithubScheduler.instance, sync_action: 'sync_github' } %>
    </div>
    <div class="col-md-4">
        <h3>Supportbee</h3>
        <%= render partial: 'scheduler', locals: { scheduler: SupportbeeScheduler.instance, sync_action: 'sync_supportbee' } %>
    </div>
    <div class="col-md-4">
        <h3>Frontapp</h3>
        <%= render partial: 'scheduler', locals: { scheduler: FrontappScheduler.instance, sync_action: 'sync_frontapp' } %>
    </div>
</div>
