<%= form_for(@support_source) do |f| %>
    <% if @support_source.errors.any? %>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@support_source.errors.count, "error") %> prohibited this support source from being saved</h3>
        </div>
        <div class="panel-body">
            <% @support_source.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :rss_url %>
        <%= f.text_field :rss_url, class: 'form-control' %>
        <small>For Stack Overflow: https://stackoverflow.com/feeds/tag?tagnames=passenger&amp;sort=newest</small>
    </div>

    <div class="actions">
        <p><%= f.submit class: 'btn btn-primary' %></p>
    </div>
<% end %>
