<%= form_for(@support_source) do |f| %>
    <% if @support_source.errors.any? %>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@support_source.errors.count, "error") %> prohibited this support source from being saved</h3>
        </div>
        <div class="panel-body">
            <% @support_source.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :github_owner_and_repo %>
        <%= f.text_field :github_owner_and_repo, placeholder: 'phusion/passenger', class: 'form-control' %>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Set up a webhook</h3>
        </div>
        <div class="panel-body">
            <p>
                For this Github support source to work properly, you must setup a webhook for the above repository.
            </p>
            <ol>
                <li>Go to <tt>https://github.com/<em>OWNER_AND_REPO</em>/settings/hooks</tt></li>
                <li>Check whether a team member has already setup a webhook for you using the payload URL specified below! If the webhook already exists, then you can skip setting up a webhook.</li>
                <li>Click "Add webhook"</li>
                <li>Enter payload URL: <tt><%= url_for(controller: 'webhooks/github_webhook', action: 'hook', only_path: false) %></tt></li>
                <li>Select content type: application/json</li>
                <li>Enter secret: <tt><%= CONFIG['github_webhook_secret'] %></tt></li>
                <li>Click "Let me select individual events" and check only "Issues" and "Issue comment"</li>
                <li>Finish by clicking on the "Add webhook" button</li>
            </ol>
        </div>
    </div>

    <div class="actions">
        <p><%= f.submit class: 'btn btn-primary' %></p>
    </div>
<% end %>
