<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header>
        <div class="account-actions">
            <% if current_user %>
                <p>
                    <%= current_user.email %>
                </p>
                <p>
                    <%= link_to 'Admin area', admin_area_path %><br>
                    <%= link_to 'Support sources', support_sources_path %>
                </p>
                <p>
                    <%= link_to 'Edit profile', edit_user_registration_path %><br>
                    <%= link_to 'Delete account', edit_user_registration_path(anchor: 'delete-my-account') %><br>
                    <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
                </p>
            <% else %>
                <%= link_to 'Login', new_user_session_path %><br>
                <%= link_to 'Create account', new_user_registration_path %>
            <% end %>
        </div>
        <%= link_to(image_tag('logo-black.png', height: 128, height: 163,
                alt: 'Support Central'), root_path) %>
    </header>

    <div class="container">
        <% if notice %>
            <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
            <div class="alert alert-danger"><%= alert %></div>
        <% end %>

        <%= yield %>
    </div>

    <footer>
        Copyright &copy; 2015 Phusion Holding B.V.
        <a href="https://github.com/phusion/support_central">Source available on Github.</a>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
